body{
    background-color: rgb(248, 158, 171);
    font-family: 'Baskerville','Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: rgb(250, 211, 217);
    width: 75%;
    padding: 10px;
    border-radius: 20px;
}
h1, h2, p{
    display: flex;
    justify-content: center;
}
.p1{
    margin-bottom: 100px;
}
.wiki_mm{
    margin-top: 100px;
}
.Crybabyletter{
    display: block;
    margin: auto;
    width: 300px;
}
.Crybabyletter:hover{
    transform: scale(2.5);
    transition: 2s;
}