h1{
    display: flex;
    justify-content: center;
}
body{
    background-color: pink;
    font-family: 'Baskerville','Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
img{
    width: 500px;
}
.trilogia{
    display: flex;
    justify-content: center;
}
.k12album, .music{
    width: 75%;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(238, 213, 217);
}
.comeco-meio-fim{
    width: 77%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.comeco, .meio, .fim{
    background-color: rgb(238, 213, 217);
    border-radius: 10px;
    padding: 5px;
}