body{
    background-color: darkolivegreen;
    font-family: 'Baskerville','Times New Roman', Times, serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
img{
    width: 500px;
}
.trilogia{
    display: flex;
    justify-content: center;
}
.portalsalbum, .music{
    width: 75%;
    padding: 20px;
    border-radius: 20px;
    background-color: blueviolet;
}
a{
    text-decoration: none;
    color: white;
}