body{
    background-color: rgb(248, 158, 171);
    font-family: 'Baskerville','Times New Roman', Times, serif;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.capa1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
}
.trilogia{
    background-color: rgb(250, 211, 217);
    width: 90%;
    border-radius: 10px;
}
.photo1, .photo2, .photo3{
    width: 400px;
    padding: 20px;
}
.nome1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.capa2, .nome2, .nome2_1, .nome2_2, .nome2_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    width: 400px;
}
h2,p{
    font-size: 100;
}
a{
    text-decoration: none;
}
@media (max-width: 1440px){
    .photo1, .photo2, .photo3{
        width: 280px;
    }
    .nome1{
        margin-right: 20px;
    }
}
@media (max-width: 1024px){
    .photo1, .photo2, .photo3{
        width:220px;
    }
    .capa1{
        padding-left: 50px;
    }
    .nome2{
        width: 99.76px;
        padding-left: 50px;
    }
@media (max-width: 768px){
    .photo1, .photo2, .photo3{
        width: 145px;
    }
    .nome1{
        margin-bottom: 20px;
    }
    .nome2_2{
        margin-left: 10px;
    }
    .nome2_3{
        margin-left: 30px;
    }
}
}